<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Akhil\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Akhil\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin"/>
                </hiddenSegments>
            </requestFiltering>
        </security>
        <httpErrors errorMode="Detailed"/>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="app.app"/>
        <add key="PYTHONPATH" value="C:\Users\Akhil\project-k"/>
    </appSettings>
</configuration>
